<!DOCTYPE html>
<html lang="en" ng-strict-di>

<head>
  {{> head.server.view}}

  <!--Angular JS-->
  {{#each ngAppJsFiles}}
  <script type="text/javascript" src="/{{this}}"></script>
  {{/each}}

  <!--owasp config sync-->
  <script type="text/javascript">
    var sharedConfig = {{{ sharedConfig }}};
    owaspPasswordStrengthTest.config(sharedConfig.owasp);
  </script>

</head>


<body class="login">

<div id="rootApp">

  <!-- Auth App -->
  <div class="container-fluid">

    {{{block "rootAppContent"}}}

  </div>

</div>

</body>

</html>
