<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{twitterUsername}}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="/{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {{#each cssFiles}}<link rel="stylesheet" href="/{{this}}">{{/each}}


  <noscript>
    <style>
      [ng\:cloak], [ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: block !important;
      }
    </style>
    <div class="alert alert-warning">
      <strong>This page requires JavaScript.</strong> Please enable it in your browser.
    </div>
  </noscript>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = null;
    var microAppConfig = null;
    var env = "{{ env }}";
  </script>

  {{#if user}}
  <script type="text/javascript">
    user = {{{ user }}};
  </script>
  {{/if}}

  {{#if microAppConfig}}
  <script type="text/javascript">
    microAppConfig = {{{ microAppConfig }}};
  </script>
  {{/if}}


  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  <!--Core JS-->
  {{#each jsFiles}}
  <script type="text/javascript" src="/{{this}}"></script>
  {{/each}}
  <!--Angular JS-->
  {{#each ngAppJsFiles}}
  <script type="text/javascript" src="/{{this}}"></script>
  {{/each}}


  <!--owasp config sync-->
  <script type="text/javascript">
    var sharedConfig = {{{ sharedConfig }}};
    owaspPasswordStrengthTest.config(sharedConfig.owasp);
  </script>

  {{#if livereload}}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {{/if}}


</head>

<body>


<!-- side menu -->
<div class="sidemenu sidemenu-inverse ">

  <div>

    <ul class="sidemenu-header">

      <li>
            <span id="sideMenuBtn" class="glyphicon glyphicon-align-justify pull-default" role="button"
                  ng-click="vm.toggleSideMenu()"></span>

        <a href="/">
          <span class="hide-on-small-menu">SUPER APP</span>
        </a>
      </li>

    </ul>

    <div class="sidemenu-body">

      <ul class="smenu">

        {{#each allMicroAppsConfig}}

        <li>
          <a href="/mapp/{{this.title}}">
            <span class="glyphicon glyphicon-dashboard"></span>
            <span class="hide-on-small-menu">{{this.title}}</span>
          </a>
        </li>

        {{/each}}

        <li>
          <a href="/api/auth/signout" target="_self">

            <span class="glyphicon glyphicon-log-out"></span>
            <span class="hide-on-small-menu"> SignOut </span>

          </a>
        </li>

      </ul>

    </div>
  </div>

</div>

<!-- / side menu -->


<div id="rootApp">

  <!-- Auth App -->
  <div class="main-content">
    <div class="container-fluid">

      <header ng-include="'modules/core/client/views/header.client.view.html'"
              class="navbar navbar-default navbar-inverse navbar-micro-app"></header>

      {{{block "rootAppContent"}}}

    </div>

  </div>


</div>

</body>

</html>
