<!DOCTYPE html>
<html lang="en" ng-strict-di>

<head>
  {{> head.server.view}}
</head>


<body class="nav-md">
<div class="container body">
  <div class="main_container">

    <!-- sidenav content -->
    {{> sidenav.server.view}}
    <!-- /sidenav content -->


    <div class="right_col">
      {{{block "microAppContent"}}}
    </div>


    <!-- footer content -->
    {{> footer.server.view}}
    <!-- /footer content -->

  </div>
</div>


<!--Post Body JS-->
{{#each postBodyJsFiles}}
<script type="text/javascript" src="/{{this}}"></script>
{{/each}}


</body>


<script>

  var toggleSideNavMenu = function () {

    if ($('body').hasClass('nav-md')) {
      $('#sidebar-menu').find('li.active ul').hide();
      $('#sidebar-menu').find('li.active').addClass('active-sm').removeClass('active');
    } else {
      $('#sidebar-menu').find('li.active-sm ul').show();
      $('#sidebar-menu').find('li.active-sm').addClass('active').removeClass('active-sm');
    }

    $('body').toggleClass('nav-md nav-sm');

    // setContentHeight();
  }
</script>

</html>
