<section>
  <div class="page-header">
    <h1>
      Micro Apps
      <a class="btn btn-primary pull-right" data-ui-sref="admin.microapps.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="microapp in vm.microapps" data-ui-sref="admin.microapps.edit({microAppId: microapp._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="microapp.created | date:'mediumDate'"></span>
        by
        <span ng-if="microapp.user" ng-bind="microapp.user.displayName"></span>
        <span ng-if="!microapp.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="microapp.title"></h4>
      <p class="list-group-item-text" data-ng-bind="microapp.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="microapps.$resolved && !microapps.length">
    No microapps yet, why don't you <a data-ui-sref="admin.microapps.create">create one</a>?
  </div>
</section>
