<script>

  function _toggleSideMenu() {

// $(".wrapper").toggleClass("active");

    // $(".menu li a").parent().children('ul.parent').hide();

  }


  $(document).ready(function () {
    $(".menu li a").click(function () {
//$(this).parent('li:has(ul)').find('ul').show();
//$(this).parent('li:has(ul)').children('ul').toggle(300);

      $(this).parent().children('ul.parent').toggle(300);
    });
  });


</script>


<div ng-controller="RootHeaderController as vm">

  <ul class="side-bar-header">
    <li>
      <a href="/#/">
        SUPER APP
      </a>
      <span class="glyphicon glyphicon-align-justify pull-right" role="button" onclick="_toggleSideMenu();" ng-click="vm.toggleSideMenu()"></span>
    </li>

  </ul>

  <div class="side-bar-body">

    <ul class="menu">
      <li>
        <a href="/#/"><span class="glyphicon glyphicon-dashboard" ng-class="{'pull-right': vm.isSideMenuClosed, 'm-r-5': !vm.isSideMenuClosed}"></span> Dasboard</a>
      </li>
    </ul>

    <ul class="menu">
      <li ng-repeat="microapp in vm.microapps" ng-class="{'active': vm.isMenuActive(microapp)}">
        <a href="/mapp/{{microapp.title}}">

          <span class="glyphicon glyphicon-heart" ng-class="{'pull-right': vm.isSideMenuClosed, 'm-r-5': !vm.isSideMenuClosed}"></span>

          {{microapp.title}}

        </a>
      </li>
    </ul>



    <ul class="menu" ng-if="vm.menu.shouldRender(vm.authentication.user);">
      <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);"
          ng-switch="item.type" ng-class="{ 'dropdown': item.type === 'dropdown', 'active': $state.includes(item.state)}"
          class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">

        <!-- drop-down -->
        <a ng-switch-when="dropdown" role="button">

          <span class="glyphicon glyphicon-star" ng-class="{'pull-right': vm.isSideMenuClosed, 'm-r-5': !vm.isSideMenuClosed}"></span>

          {{::item.title}}

          <span class="caret"></span>

        </a>


        <ul ng-switch-when="dropdown" class="parent">
          <li ng-repeat="subitem in item.items | orderBy: 'position'"
              ng-if="subitem.shouldRender(vm.authentication.user);" ng-class="{'active': $state.includes(subitem.state)}" >

            <a href="{{vm.getRootAppUrl(subitem.state, subitem.params)}}">{{::subitem.title}}</a>


          </li>
        </ul>


        <a ng-switch-default href="{{vm.getRootAppUrl(item.state)}}">

          <span class="glyphicon glyphicon-heart" ng-class="{'pull-right': vm.isSideMenuClosed, 'm-r-5': !vm.isSideMenuClosed}"></span>

          {{::item.title}}

        </a>
      </li>
    </ul>

  </div>


  <ul class="menu user-menu side-bar-footer" ng-if="!vm.authentication.user">
    <li ui-sref-active="active">
      <a ui-sref="authentication.signup">Sign Up <span class="glyphicon glyphicon-user pull-right"></span></a>
    </li>
    <li class="divider-vertical"></li>
    <li ui-sref-active="active">
      <a ui-sref="authentication.signin">Sign In <span class="glyphicon glyphicon-log-in pull-right"></span></a>
    </li>
  </ul>


  <ul class="menu side-bar-footer" ng-if="vm.authentication.user">
    <li>


      <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button"
         style="padding-right: 11px" title="{{::vm.authentication.user.displayName}}">

        {{ vm.authentication.user.displayName | characters:15 :true }}

        <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}"
             class="header-profile-image-mini pull-right"/>
      </a>


      <ul class="parent">
        <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
          <a href="{{vm.getRootAppUrl(item.state)}}">{{::item.title}}</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/api/auth/signout" target="_self">Signout</a>
        </li>
      </ul>
    </li>
  </ul>


</div>

