<div ng-controller="RootHeaderController as vm">

  <ul class="sidemenu-header">
    <li>
 <span class="glyphicon glyphicon-align-justify pull-default" role="button"
       ng-click="vm.toggleSideMenu()"></span>

      <a href="/#/" ng-hide="vm.isSideMenuClosed">
        SUPER APP
      </a>
    </li>

  </ul>

  <div class="sidemenu-body">

    <ul class="smenu">
      <li>
        <a href="/#/">

          <span class="glyphicon glyphicon-dashboard"></span>


          <span ng-hide="vm.isSideMenuClosed">Dasboard</span>


        </a>
      </li>
    </ul>

    <ul class="smenu">
      <li ng-repeat="microapp in vm.microapps" ng-class="{'active': vm.isMenuActive(microapp)}">
        <a href="/mapp/{{microapp.title}}">

          <span class="glyphicon glyphicon-heart"></span>

          <span ng-hide="vm.isSideMenuClosed"> {{microapp.title}} </span>

        </a>
      </li>
    </ul>


    <ul class="smenu" ng-if="vm.menu.shouldRender(vm.authentication.user)">
      <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);"
          ng-switch="item.type" ng-class="{'active': $state.includes(item.state)}"
          class="{{item.class}}" ng-init="item.isCollapsed=true">

        <!-- drop-down -->
        <a ng-switch-when="dropdown" role="button" ng-click="vm.toggleDropDown(item)">

          <span class="glyphicon glyphicon-star" ng-class="{'active': $state.includes(item.state)}"></span>

          <span ng-hide="vm.isSideMenuClosed">{{::item.title}}</span>

																																				  <span class="caret-icon glyphicon"
                                                                                ng-class="{'glyphicon-chevron-left': !vm.isSideMenuClosed && vm.isDropDownCollapsed(item), 'glyphicon-chevron-down': !vm.isSideMenuClosed && !vm.isDropDownCollapsed(item) }"></span>

        </a>


        <ul ng-switch-when="dropdown" uib-collapse="vm.isDropDownCollapsed(item)">
          <li ng-repeat="subitem in item.items | orderBy: 'position'"
              ng-if="subitem.shouldRender(vm.authentication.user);"
              ng-class="{'active': $state.includes(subitem.state)}">

            <a href="{{vm.getRootAppUrl(subitem.state, subitem.params)}}" ng-hide="vm.isSideMenuClosed">{{::subitem.title}}</a>


          </li>
        </ul>


        <a ng-switch-default href="{{vm.getRootAppUrl(item.state)}}">

<span class="glyphicon glyphicon-heart"
  ></span>

          <span ng-hide="vm.isSideMenuClosed"> {{::item.title}} </span>

        </a>
      </li>
    </ul>

  </div>


  <ul class="smenu sidemenu-footer" ng-if="!vm.authentication.user">
    <li ui-sref-active="active">
      <a href="{{vm.getRootAppUrl('authentication.signup')}}">
        <span class="glyphicon glyphicon-user"></span>
        <span ng-hide="vm.isSideMenuClosed">Sign Up</span></a>
    </li>
    <li class="divider-vertical"></li>
    <li ui-sref-active="active">
      <a href="{{vm.getRootAppUrl('authentication.signin')}}">
        <span class="glyphicon glyphicon-log-in"></span>
        <span ng-hide="vm.isSideMenuClosed">Sign In</span>
      </a>
    </li>
  </ul>


  <ul class="smenu sidemenu-footer" ng-if="vm.authentication.user">
    <li ng-init="vm.accountMenu.isCollapsed=true">


      <a role="button" title="{{::vm.authentication.user.displayName}}"
         ng-click="vm.toggleDropDown(vm.accountMenu)">

        <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}"
             class="header-profile-image-mini"/>

        <span ng-hide="vm.isSideMenuClosed">{{ vm.authentication.user.displayName | characters:15 :true }}</span>

      </a>


      <ul uib-collapse="vm.isDropDownCollapsed(vm.accountMenu)">
        <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items"
            ng-class="{'active': $state.includes(item.state)}">
          <a href="{{vm.getRootAppUrl(item.state)}}" ng-hide="vm.isSideMenuClosed">{{::item.title}}</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/api/auth/signout" target="_self" ng-hide="vm.isSideMenuClosed">Signout</a>
        </li>
      </ul>
    </li>
  </ul>


</div>

