<section>
  <div class="page-header">
    <h1>Micro Apps</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="microapp in vm.microapps" ui-sref="microapps.view({ microAppId: microapp._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="microapp.created | date:'mediumDate'"></span>
        by
        <span ng-if="microapp.user" ng-bind="microapp.user.displayName"></span>
        <span ng-if="!microapp.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="microapp.title"></h4>
      <p class="list-group-item-text" ng-bind="microapp.content"></p>
    </a>
  </div>
</section>
